body {
    font-family: Arial, sans-serif;
    background: #f1f1f1;
}

.container {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
}

button {
    background: black;
    color: white;
    cursor: pointer;
}
